window {
    margin: 0px;
    border: 2px solid #78a9ff;
    background-color: #282828;
    border-radius: 10px;
    opacity: 0.97;
}

#input {
    margin: 5px;
    border: none;
    color: #dfdfe0;
    background-color: #484848;
    font-weight: bold;
    font-size: 16px;
    font-family: "Hack Nerd Font";
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #dfdfe0;
    font-weight: bold;
    font-size: 16px;
    font-family: "Hack Nerd Font";
}

#entry:selected {
    background-color: #52bdff;
}

#text:selected {
    color: #282828;
}
