@import "mocha.css";
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @yellow;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "Hack Nerd Font";
    color: @text;
}

/* The whole bar */
#waybar {
    /*background: @theme_bg_color;*/
    background:rgba (0, 0, 0, 0.70);
    color: @surface1;
    font-size: 14px;
}

/* Each module */
#custom-menu,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#backlight,
#custom-power,
#idle_inhibitor,
#custom-dnd,
#tray {
    padding-left: 8px;
    padding-right: 8px;
    background-color: @surface0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#tray {
    background-color: @surface1;
}

#custom-power {
    /* I don't know why I had to add 4px padding right to have this button centered */
    padding-right: 14px;
    background-color: @pink;
    color: @crust;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    background-color: @surface2;
    color: @text;
}

#cpu.warning {
    color: @yellow;
}

#cpu.critical {
    color: @red;
}

#custom-menu {
    background-color: @pink;
    color: @crust;
    padding-left: 10px;
    padding-right: 14px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @yellow;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @surface0;
}

#network.disconnected {
    color: @yellow;
}

#pulseaudio.muted {
    color: @yellow;
}

#temperature.critical {
    color: @red;
}

#window {
    font-weight: bold;
    margin-right: 25px;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @surface0;
}

#workspaces button.focused {
    border-color: @red;
    background-color: @surface2;
}

#workspaces button.active {
    border-color: @green;
    background-color: @overlay0;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#bluetooth.disabled {
    color: @yellow;
}
