/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: #f8f8f2;
    }

    to {
        color: #f8f8f2;
        background-color: #ffb86c;
    }
}

@keyframes blink-critical {
    70% {
      color: #f8f8f2;
    }

    to {
        color: #f8f8f2;
        background-color: #ff5555;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "DejaVuSansMono Nerd Font";
    color: #f8f8f2;
}

/* The whole bar */
#waybar {
    /*background: @theme_bg_color;*/
    background:rgba (0, 0, 0, 0.70);
    color: @wm_icon_bg;
    font-size: 14px;
}

/* Each module */
#custom-menu,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#backlight,
#custom-power,
#idle_inhibitor,
#tray {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #282a36;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#tray {
    background-color: #44475a;
}

#custom-power {
    /* I don't know why I had to add 4px padding right to have this button centered */
    padding-right: 14px;
    background-color: #bd93f9;
    color: #282a36;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #ffb86c;
}

#battery.critical {
    color: #ff5555;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    background-color: #6272a4;
}

#cpu.warning {
    color: @warning_color;
}

#cpu.critical {
    color: @error_color;
}

#custom-menu {
    background-color: #bd93f9;
    color: #282a36;
    padding-left: 10px;
    padding-right: 14px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning_color;
}

#memory.critical {
    color: @error_color;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @background_color;
}

#network.disconnected {
    color: @warning_color;
}

#pulseaudio.muted {
    color: @warning_color;
}

#temperature.critical {
    color: @error_color;
}

#window {
    font-weight: bold;
    margin-right: 25px;
    color: #6272a4;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: @theme_selected_bg_color;
    background-color: #282a36;
}

#workspaces button.focused {
    border-color: @theme_selected_bg_color;
    color: @wm_icon_bg;
    background-color: #6272a4

}

#workspaces button.urgent {
    border-color: @error_color;
    color: @error_color;
}

#bluetooth.disabled {
    color: @warning_color;
}
