[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=env KITTY_DISABLE_WAYLAND=1 kitty
Icon=kitty
Categories=System;TerminalEmulator;
